<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hel[pPage</title>

    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/fontawesome-free-5.8.2-web/css/all.css">

</head>
<body>



<div class="container-fluid">

    <div class="dashboard">



        <nav>
            <div class="logo">
                <a href="ProjectList.html">
                    <!--            <i class="fas fa-chart-pie fa-4x"></i>-->
                    <img src="../images/donut-chart-png.png" height="50" width="50"/>
                    <br/>
                    <br/>

                    <!--            <span class="fa fa-wordpress"></span>-->
                    <span class="title">Smart Project Visualization</span>
                </a>
            </div>
            <ul class="main-nav">
                <li>
                    <a href="Dashboard.html">
                        <i class="fas fa-business-time"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="NewProject.html">
                        <i class="far fa-clipboard"></i>

                        Start a Project
                    </a>
                </li>
                <li>
                    <a href="ProjectList.html">
                        <i class="fas fa-chart-bar"></i>

                        Project Stats
                    </a>
                </li>

                <li>
                    <a href="NewNote.html">
                        <i class="fas fa-pencil-alt"></i>

                        Make Notes
                    </a>
                </li>

                <li>
                    <a href="NoteList.html">
                        <i class="far fa-edit"></i>
                        My Notes
                    </a>
                </li>
                <li>
                    <a href="Profile.html">
                        <i class="fas fa-user-alt"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a href="HelpPage.html">
                        <i class="fas fa-file-alt"></i>
                        Need Help?
                    </a>
                </li>
                <li>
                    <a onClick="logOut('token');" href="#">
                        <i class="fas fa-sign-out-alt" ></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>


        <!--create a new note-->
        <div class="container-fluid">

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <img src="../images/diagram.png" height="10%" width="10%"/>
                                <h1 class="display-2">Need Help?</h1>
                                <br />



                                <div class="jumbotron jumbotron-fluid">
                                    <div class="container">
                                        <h1 class="display-4">Smart Project Visualization</h1>
                                        <p class="lead">‘Smart Project Visualization’ is web-application
                                            platform where an individual user can create a project and manage
                                            the project with the help of different tools, techniques and techniques
                                            available. The application does not have any restriction on what they
                                            can use. The application have modest interface that can be
                                            effortlessly used by the user. You can create a project Name it,
                                            Provide description for the project and adjust the progress bar to track progression.
                                        </p>
                                        <p class="lead"> Along with a project you can make note along with important images
                                            files whick you can keep track of for further use. You can easily manage,
                                            monitor and modify canages in the memo</p>
                                    </div>
                                </div>

                                <div class="jumbotron jumbotron-fluid">
                                    <div class="container">
                                        <h1 class="display-4">How to use?</h1>
                                        <p class="lead">The app provides with a side Navigation
                                            bar whic includes links to the pages you want to go.
                                            Simply click on the text or near it to go that page.
                                            If you want to create a project click on "Start a project"
                                            and a form will appear to add a project You can view the Project statistics in the dashboard
                                            or in "project Stat" tab. collective summary chart of
                                            your projects is visualized in caharts.
                                        </p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


</body>

<script type="text/javascript" src="../resources/js/jquery.js"></script>

<script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>






</body>
</html>